body{
    margin:0;
    padding:0;
    font-family: 'Lato' , sans-serif;
    /* background-image: linear-gradient(180deg , #171321 ,   #0d314b 75.28%, #e66465 ); */
    font-size: medium;
}
fieldset{
    margin:2rem 0;
    padding: 1em 2em;
    border:solid 2px #ccc;
    /* border-radius: 6%; */
    font-size: medium;
}   
legend{
    /* color: #fff; */
    font-size: 1.25em;
    padding: 0.25em;
    color: #999;
    font-size: medium;
}
/* label{
    display: block;
    margin-top: 1em;
} */

input{
    padding:.5em;
    border: solid 1.5px #999;
    font-size: medium;
    /* color: #fff; */
}
select option{
    color: #171321;
    font-size: medium;
}
input[type="sumbit"]
{
    padding: .5em 1em;
    border-radius:6px;
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
    font-size: medium;
 }

.content{
    border-collapse: collapse;
    margin: 25px 0;
    font-size:0.9em ;
    min-width: 400px;
    border-radius:5px 5px 0 0;
    overflow: hidden;
}
.content thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
}

.content th , 
.content td {
    padding: 12px 15px;
}

.content tbody tr{
    border-bottom: 1px solid #ddd;
}
.content tbody tr:nth-of-type(even){
    background-color:#f3f3f3;
}

.content tbody tr:last-of-type{
    border-bottom:2px solid #009879
}

/* .output{
    box-shadow: 0 0 10px rgba(0,0, 0, 2);
    border-radius: 6%;
} */
div p{
    width:99%;
    height:auto;
    color: rgb(0, 0, 0);
    border-radius:5px;
    border: 2px solid #999;
}

div b .red{
    color: rgba(255, 0, 0, 0.691);
}
div b .note{
    font-size: large;
}
@media(max-width: 430px){
.div p{
width: 100%;
}
 .fieldset output{
    width:100%;
    scroll-behavior: smooth;
 }   
}
/* @media (min-width:430px) {
    .table thead{
        display:none;
    } 
    .table, .table tbody , .table tr , .table td{
        display: block;
        width:100%
    }

} */


/* .child2{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    height: 25%;
} */
/* html , body {
    height: 100%;
    margin: 0;
}
.output{
    margin-bottom: -10%;
}
footer, .output::after{
    height: 10%;
} */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 18%;
    background-color: #00987abf;
    /* display: grid;
    justify-items: center; */
    display: flex;
    flex-wrap: wrap;
    /* color: white; */
    height: 8%;
    border-radius: 10px;
}
body {
    margin: 0;
    padding: 5% 10%;
    /* background: #dcd7ce; */
    color: #333;
    font-family: sans-serif;
    font-size: 100%;
  }
  p {
    text-align: center;
    padding-top: 1em;
  }
  ul.social-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
  }
  ul.social-set li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            justify-content: center; */
  }
  /* Font Awesome icons */
  /* a.sociali {
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 10px;
    background: #00987abf;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding: 10px;
    margin-left: 20px;
  } */
  /* a.sociali:hover, a.sociali:focus {
    background: #6d8785;
  } */

  a.sociali{
  font-size: 1.5em;
  line-height: 1.5em;
  margin-left: 10px;
  padding:5px;
  }
  .input{
    display: flex;
    flex-direction: row;
  }
