<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kcet Engineering counselling</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oxygen&family=Oxygen+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- studame="Student-Information">  
            <label>Student-Details</label>
            
            <div class="ient details -->
                <header>
                    <div class="logo">
                        <img alt="kcet-college predictor logo" src="../static/img/logo.png">
                    </div>
                    <nav>
                        <div class="logo">
                            <img src="../static/img/logo.png" alt="">
                        </div>
                        <ul>
                            <li>
                                <a href="#form-user" class="active">Home</a>
                            </li>
                            <li>
                                <a href="#table">College</a>
                            </li>
                            <li><a href="/">Logout</a></li>
                        </ul>
                    </nav>
                    <label for="nav_check" class="hamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </label>
                </header>
            <br>
            <br>
           

    <form id="form-user" action="/engineering" method="POST">
        <fieldset class="input">
            <div class="child1">
            <h2 class="enter_details">Enter Your Details</h2>
            <br>
            <div>
            <input type="text" name="firstname" id="firstname" required autofocus placeholder="Enter your name" autocomplete="on" class="name">
            </div>
            <br>
            <div>
            <input type="number" name="Rank" id="Rank" required placeholder="Enter your K-CET rank" autocomplete="on" class="rank">
            </div>
            <br>
            <div>
                
            <select name="Category" id="Category" required class="category">
                <option value="">---SELECT---</option>
                <option value="1G">1G</option>
                <option value="1K">1K</option>
                <option value="1R">1R</option>
                <option value="2AG">2AG</option>
                <option value="2AK">2AK</option>
                <option value="2AR">2AR</option>
                <option value="2BG">2BG</option>
                <option value="2BK">2BK</option>
                <option value="2BR">2BR</option>
                <option value="3AG">3AG</option>
                <option value="3AK">3AK</option>
                <option value="3AR">3AR</option>
                <option value="3BG">3BG</option>
                <option value="3BK">3BK</option>
                <option value="3BR">3BR</option>
                <option value="GM">GM</option>
                <option value="GMK">GMK</option>
                <option value="GMR">GMR</option>
                <option value="SCG">SCG</option>
                <option value="SCK">SCK</option>
                <option value="SCR">SCR</option>
                <option value="STG">STG</option>
                <option value="STK">STK</option>
                <option value="STR">STR</option>
            </select>
        </div>
        <br>
        <div>
            <label for="Branch" >Branch:</label>
            <br>
            <select name="Branch" id="Branch" class="branch" required multiple multiselect-search="true" multitselect-select-all="true" multiselect-max-items="33" class="branch">
                <!-- <option value="">---SELECT---</option> -->
                <option value="ALL BRANCHES">ALL BRANCHES</option>
                <option value="AI">AI(Artificial INtelligence)</option>
                <option value="BT">BT(Bio Technology)</option>
                <option value="CE">CE(Civil)</option>
                <option value="CS">CS(Computer Science)</option>
                <option value="EC">EC(Electronics)</option>
                <option value="EE">EE(Electrical)</option>
                <option value="EI">EI(Elec, Inst. Engg)</option>
                <option value="ET">ET(Elec. Telecomm. Engg)</option>
                <option value="IE">IE(Information Science)</option>
                <option value="IM">IM(Ind. Engg. Management)</option>
                <option value="ME">ME(Mechanical Engg)</option>
                <option value="SE">SE(Aerospace Engg)</option>
                <option value="MD">MD(Medical. Elect)</option>
                <option value="AD">AD(Artificial Intelligence , Data Science)</option>
                <option value="CA CS">CA CS(AI , Machine Learning)</option>
                <option value="CY CS">CY CS(Cyber Security)</option>
                <option value="EL">EL(Electronics , Instr . Tech)</option>
                <option value="EN">EN(Environmental)</option>
                <option value="IP">IP(Ind. Prod))</option>
                <option value="PT">PT(Polymer Tech)</option>
                <option value="CB">CB(Comp. Sc. and Bus sys.)</option>
                <option value="CT">CT(Const. Tech Mgmt)</option>
                <option value="AE">AE(Aeronaut Engg)</option>
                <option value="AU">AU(Automobile)</option>
                <option value="CD">CD(Computer Sc. and Design)</option>
                <option value="RI">RI(Robotics and AI)</option>
                <option value="CF CS">CF CS(Artificial Intel)</option>
                <option value="II">II(EC-Industrial Integrated</option>
                <option value="RO">RO(Auto and RObot)</option>
                <option value="TC">TC(Telecomm.)</option>
                <option value="DS">DS(Comp. Sc. Engg. Data Sc)</option>
                <option value="CO">CO(Computer Engineering)</option>
                <option value="RA">RA(Robotics and Automation)</option>
            </select>
        </div>
        <br>
      <div>
        <label for="Place" >Place:</label>
        <br>
        <select name="Place" id="Place" required multiple multiselec-search="true" multitselect-select-all="true" multiselect-max-items="30" class="place">
            <!-- <option value="">---SELECT---</option> -->
            <option value="ALL DISTRICTs">ALL DISTRICTs</option>
            <option value="Bagalkot">Bagalkot</option>
            <option value="BANGALORE">Bangalore</option>
            <option value="BELAGAVI">Belagavi</option>
            <option value="Bellary">Bellary</option>
            <option value="Bidar">Bidar</option>
            <option value="BIJAPUR">Bijapur</option>
            <option value="Chamarajanagara">Chamarajanagara</option>
            <option value="Chickmagalur">Chickmagalur</option>
            <option value="Chikkaballapur">Chikkaballapur</option>
            <option value="Chitradurga">Chitradurga</option>
            <option value="Dakshina Kannada">Dakshina Kannada</option>
            <option value="Davanagere">Davangere</option>
            <option value="Dharwad">Dharwad</option>
            <option value="Gadag">Gadag</option>
            <option value="Gulbarga">Gulbarga</option>
            <option value="Hassan">Hassan</option>
            <option value="Haveri">Haveri</option>
            <option value="hubballi">Hubballi</option>
            <option value="KARWAR">Karwar</option>
            <option value="Kodagu">Kodagu</option>
            <option value="KOLAR">Kolar</option>
            <option value="Koppal">Koppal</option>            
            <option value="Mandya">Mandya</option>            
            <option value="Mangalore">Manglore</option>            
            <option value="Moodabidri">Moodabidri</option>            
            <option value="Mysore">Mysore</option>            
            <option value="Raichur">Raichur</option>        
            <option value="ramanagara">Ramanagara</option>        
            <option value="shivamogga">Shivamogga</option>        
            <option value="Tumkur">Tumkur</option>        
            <option value="Udupi">Udupi</option>        
            <option value="Uttar kannada">Uttar Kannad</option>        
            <option value="vijayapur">Vijayapurr</option>        
            <option value="Yadigir">Yadigir</option>        
        </select>
      </div>
    <br>
    <div class="inline_button">
    <button type="submit" class="submit-button">Predict</button>
    <button type="reset" class="submit-button">Clear</button>
    </div>
</div>
</fieldset>
</form>
<div class="note">
    <b>Note:<b>
         <br>
     ● These results are purely based on <b class="red">KCET 2021 2nd EXTENDED ROUND CUTTOFF</b>
     <br>
     ● Cuttoff's may vary due to <b class="red">change in the number of seats</b> and <b class="red">newly added branches like - Artificial intelligence,  Cyber security, Data science </b>in some colleges
     </div>
      <br>
      <div id="table">
        <fieldset class="output">
            <label><b>Results</b></label>
            <div>
                <table class="content">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">College</th>
                            <th scope="col">Place</th>
                            <th scope="col">Branch</th>
                            <th scope="col">Cutoff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for opt in data %}
                        <tr>
                            <td>{{opt[0]}}</td>
                            <td>{{opt[1]}}</td>
                            <td>{{opt[2]}}</td>
                            <td>{{opt[3]}}</td>
                            <td>{{opt[4]}}</td>
                        </tr>
                        {% endfor %}
                        

                    </tbody>
                </table>
            </div>
        <!-- <button class="clearbtn">Clear</button> -->
        </fieldset>
      </div>

    <footer>
        <div id="Footer">
        <div class="footer_info">
            <div class=".footer_width about">
                <h2>About</h2>
                <p class="about_kcet">
                    KCET College Predictor is an online tool that helps students predict their chances of getting admission into colleges based on their KCET (Karnataka Common Entrance Test) scores. By providing the required information such as score, category, and preferred courses, the tool generates a list of colleges that the student is likely to get admitted to. The predictions are based on past admission trends and data analysis, giving students a realistic idea of their college options. The tool is easy to use and can be accessed from anywhere, making it a convenient tool for students to plan their future academic pursuits.
                </p>

                <br> 
                </div>

            </div>
            <div class=".footer_width follow">
                <h2>Follow Us</h2>
                <div class="social-media">
                    <ul>
                        <li><a href="https://www.facebook.com/sedsuoc/" target="_blank" class="fa fa-facebook"></a></li>
                        <li><a href="https://www.instagram.com/sedsuoc/" target="_blank" class="fa fa-instagram"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCNxdWPmZgjpGytZgoAkZbLA"
                                class="fa fa-youtube" target="_blank" ></a></li>
                        <li><a href="https://www.linkedin.com/company/seds-uoc/about/" target="_blank" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </footer>
    

    <script src="../static/js/mutliselect.js" type="text/javascript"></script>
    <!-- <script src="js/index.js" type="text/javascript"></script> -->
    <script src="../static/js/engg.js" type="text/javascript"></script>
</html>